
.text-balance {
  text-wrap: balance;
}
.logo-text{
  background-image: linear-gradient(90deg, #FFB6C1, #E6E6FA);
  -webkit-background-clip: text;
  color: transparent;
}

.notfound-min-height{
  min-height: calc(100svh - 45px);
}
.hero-min-height{
  min-height: calc(100svh - 253px);
}
/*
::-webkit-scrollbar {
  width: 0;
  display: none;
}

*/